.shape
  width: 290px
  height: 290px
  display: inline-block

.shape h3
  position: relative
  top: 120px
  font-size: 20px

.create
  background: url('/assets/circleBlank.png')
  background-repeat: no-repeat
  background-size: auto
  background-position: center
.create:focus
    outline: none
    border: 0

.create:hover
  background: url('/assets/circleRed.png')
  transition: opacity 0.5s linear
  background-repeat: no-repeat
  background-size: auto
  background-position: center

.create span
  margin: 0 auto

.index
  background: url('/assets/triangleBlank.png')
  background-repeat: no-repeat
  background-size: auto
  background-position: center

.index:focus
    outline: none
    border: 0

.index:hover
  background: url('/assets/triangleGreen.png')
  transition: opacity 0.5s linear
  background-repeat: no-repeat
  background-size: auto
  background-position: center

.search
  background: url('/assets/starBlank.png')
  background-repeat: no-repeat
  background-size: auto
  background-position: center

.search:focus
    outline: none
    border: 0

.search:hover
  background: url('/assets/starBlue.png')
  transition: opacity 0.5s linear
  background-repeat: no-repeat
  background-size: auto
  background-position: center
.shapeContainer
  text-align: center
