<div  class="updateContainer">
  <form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <p hidden>
    <mat-form-field appearance="standard">
      <mat-label>Event name</mat-label>
      <input matInput formControlName="id" placeholder="">
      <mat-hint>e.g. Inner Engineering</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Event name</mat-label>
      <input matInput formControlName="name" placeholder="">
      <mat-hint>e.g. Inner Engineering</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Event details</mat-label>
      <input matInput formControlName="details" placeholder="">
      <mat-hint>e.g. 4 Day Program</mat-hint>
    </mat-form-field>
  </p>
  <mat-form-field appearance="standard">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
     [rangePicker]="picker">
      <input matStartDate formControlName="startDate" placeholder="Start date" >
      <input matEndDate formControlName="endDate" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Audio</mat-label>
      <input matInput formControlName="audio" placeholder="http://" >
       <mat-icon matSuffix>speaker</mat-icon>
      <mat-hint>e.g. http://audioserver/audioid</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Video</mat-label>
      <input matInput formControlName="video" placeholder="http://" >
       <mat-icon matSuffix>movie</mat-icon>
      <mat-hint>e.g. http://catdv/videoid</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Photo</mat-label>
      <input matInput formControlName="photo" placeholder="http://" >
       <mat-icon matSuffix>photo</mat-icon>
      <mat-hint>e.g. http://photopub/photofolder</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
      <mat-label>Transcription</mat-label>
      <input matInput formControlName="transcript" placeholder="http://">
       <mat-icon matSuffix>notes</mat-icon>
      <mat-hint>e.g. http://gnanetra/transcriptid</mat-hint>
    </mat-form-field>
  </p>
  <button class="updateButton" mat-flat-button>update</button>
    </form>
    <button class="deleteButton" title="delete" (click)="deleteEvent(event)" mat-flat-button>delete</button>
</div>
