.header
  background-color: #D8D8D8
  height: 100px
  margin: 20px 0

.header:focus
  outline: none
  border: 0


.header h3
    text-align: center
    vertical-align: middle
    position: relative
    margin: 20px, 0, 0, 0
    padding-top: 20px
    font-size: 30px

.header h5
    text-align: center
    vertical-align: middle
    position: relative
    margin: 0 auto
    font-size: 15px
