
<div class="viewContainer">
<button type="edit" mat-flat-button routerLink="/event/{{event.id}}/edit">edit</button>
<p>Name: {{event.name}}</p>
<p>Details: {{event.details}}</p>
  <p>Start date: {{event.startDate}}</p>
  <p>End date: {{event.endDate}}</p>
  <p>Photo:{{event.photo}}</p>
  <p>Video: {{event.video}}</p>
  <p>Audio: {{event.audio}}</p>
  <p>Transcript: {{event.transcript}}</p>

</div>
