
.createContainer
  margin-left: 200px

.mat-flat-button
  background-color: #CBEBAB
  margin-left: 150px
  margin-top: 30px
.delete
  background-color: #e09275
  margin-left: 150px
  margin-top: 30px
