<div class="eventIndex">
  <ul class="events">
    <li *ngFor="let event of events">
      <div class="indexDivLeft">
        <div class="audioStatusIcon statusIcon">
   <mat-icon matSuffix>speaker</mat-icon>
        </div>
        <div class="videoStatusIcon statusIcon">
  <mat-icon matSuffix>movie</mat-icon>
        </div>
        <div class="transcriptStatusIcon statusIcon">
         <mat-icon matSuffix>notes</mat-icon>
        </div>
      </div>
      <div class="indexDivRight">
        <a routerLink="/event/{{event.id}}"><span class ="indexInfoBlock"></span> {{event.name}} {{event.details}} {{event.startDate}} {{event.endDate}}</a>
      </div>

      </li>
  </ul>
</div>
